! <-- Appearancea--------------------------------------------------------------------->

*.termName: rxvt-unicode
*.scrollBar: false
*.internalBorder: 42 

! <-- Typography --------------------------------------------------------------------->

*.font: xft:IBM 3270:size=12,xft:Anonymous Pro for Powerline:size=12,xft:micon:size=12, xft:Unifont:size=12

*.letterSpace: -1
*.lineSpace: 0

! <-- Colors ------------------------------------------------------------------------->

*.cursorColor:  #F7F7F1
*.foreground:   #F7F7F1
*.background:   #050505

! Black
*.color0:       #2E2E46
*.color8:       #6F244B

! Red
*.color1:       #383851
*.color9:       #B73882

! Green
*.color2:       #4C4C65
*.color10:      #9EDD21

! Yellow
*.color3:       #626278
*.color11:      #894BA4

! Blue
*.color4:       #999999
*.color12:      #554BA4

! Magenta
*.color5:       #ADADAD
*.color13:      #5895CE

! Cyan
*.color6:       #C1C1C1
*.color14:      #37BDB9

! White
*.color7:       #D8D8D8
*.color15:      #F9F8F5

! <-- URXVT Configuration ------------------------------------------------------------>

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1

URxvt.clipboard.autocopy: true

URxvt.perl-ext-common: font-size

URxvt.font-size.step: 0.5
URxvt.keysym.Control-Meta-k:    perl:font-size:increase
URxvt.keysym.Control-Meta-j:    perl:font-size:decrease
